%html
  %head
    %title 
      = title
    %meta(name="description" content="#{description}")
    %meta(name="keywords" content="#{keywords}")
    %link(rel="stylesheet" href="screen.css" media="screen" type="text/css")
    %link(rel="stylesheet" href="print.css" media="print" type="text/css")
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css")
  %body
    != resume

    %div.links
      %p
        %a(href="resume.pdf") Download as pdf
      %p
        %a(href="resume.txt") Download as txt

    %a.github-fork-ribbon(href="#{ url }" data-ribbon="Fork me on GitHub" title="Fork me on GitHub")
      = "Fork me on GitHub"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "#{ gkey}"]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
